*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

@font-face {
    font-family: 'fuente1';
    src: url('font/Roboto-CondensedItalic.ttf');
}

html{
    width: 100%;
    height: 100%;
    font-family: 'fuente1';
}
.contenedor{
    max-width: 55rem;
    width: 90%;
    margin: 2rem auto;

}

.contenedor .fondo{
    background: url('imagenes/fondo.png');
    background-size: 100%;
    width: 100%;
    padding-top: 58%;
    position: relative;
}
.contenedor .fondo .section{
    width: 31%;
    height: 14%;
    border-radius: 1.5625rem;
    /* border: 1px solid red; */
    position: absolute;
}
.contenedor .fondo .section:hover{
    background-color: rgba(2, 2, 2, 0.3);
    transform: scale(1.2);
    transition: all 1s;

}
.contenedor .fondo .section.uno{
    top: 8.5%;
    left: 6%;
}
.contenedor .fondo .section.dos{
    right: 36%;
    bottom: 65%;
    width: 26%;
    height: 89px 

}
.contenedor .fondo .section.tres{
    top: 68.5%;
    left: 9%;
    width: 31%;
    height: 104px;
}
.contenedor .fondo .section.cuatro{
    top: 37.5%;
    left: 13%;
    width: 23%;
    height: 92px;
}
.contenedor .fondo .section.cinco{
    top: 45.5%;
    left: 57%;
    width: 31%;
    height: 90px
}

.contenedor .fondo .section.seis{
    top: 10.5%;
    left: 70%;
    width: 28%;
    height: 91px
}
.contenedor .fondo .section.siete{
    top: 71.5%;
    left: 64%;
    width: 30%;
    height: 91px;
}
.contenedor .fondo .section.ocho img{
    top: 71.5%;
    left: 64%;
    width: 30%;
    height: 91px;
}

